/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general styles */

*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --primary: #EA563A;
   --headings: rgb(35,45,56);
    --paragraph: rgb(130,130,130);
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.text-align {
    text-align: center;
}

.font-size {
    font-size: 0;
}

/* btn class */

.btn {
    color: white;
    padding: 18px;
    background: var(--primary);
}


/* hero header */

video {
    outline: 0;
    border: 0;
    height: 100vh;
    
}

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#545D66, #545D66);
    opacity: 0.50;


}


.video-div { 
    width: 100vw;
    height: 100vh;
   
}


.hero-header {
 position: relative;
}

















